/* all items in the main body */
* {
   background-color: white;
  padding: 0;
  margin: 0;    
  }

.navbar-brand{
  background-color:rgb(243, 232, 219)
  }
  .container {
    background-color:rgb(243, 232, 219);
    
  }
  .navbar-icons {
    display: inline-block;
    justify-content: left;
  }

  .container-md {
    font-size: 350%;
    max-width: 500px;
    margin: auto;
  }

  .welcome-bar {
    
    border-color: gray;
    align-content: center;
    margin: auto;
    width: 25%;
    padding: 5px;
  }

  ul {
    border-style: dotted;
    border-left: none;
    border-right: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C9B4B4;
    display:inline-block;
    text-align: center;  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-flex;
    padding: 8px;
    background-color: #C9B4B4;
    color: black;
  }

  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), src="";

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


  
  @media only screen and (max-width:620px) {}
    .menu, .main, .img {
      width:100%;
    }
